.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
		&.-top-logo{
			width: 50%;
			margin: auto;
			@include mq(tb){
				width: 20%;
			}
		}
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/header_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/header_bg.jpg);
					}
				}
			}
			&.-tabBox{
				background: black;
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;

			// TOP > 拡大ボタン(SP)
			&.-kakudai_text{
				@include mq(sp){
					top: -6%;
					left: 65%;
					transform: translateX(0%);
					width: 35%;
				}
			}
			&.-kakudai_btn{
				@include mq(sp){
					top: -4%;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: 260px;
					background: rgba(0, 0, 0, 0.473);
					a{
						width: 100%;
						height: 100%;
					}
				}
			}
			// TOP > ママズハッピーコンテンツ
			&.-top-M-01{
				@include mq(tb){
					top: 3%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.-top-M-02{
				@include mq(tb){
					top: 49.5%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.-top-M-03{
				@include mq(tb){
					top: 72.5%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			// LAYOUT > スライダーコンテンツ
			&.-layout-sliderArea{
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tb){
					top: 45%;
				}
			}

			// FREEPLAN > スライダーコンテンツ
			&.-freeplan-sliderArea{
				top: 59%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tb){
					top: 62%;
				}
			}
			&.-f-content02{
				@include mq(tb){
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-f-content03_btn{
				top: 80%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include mq(tb){
					top: 87%;
					width: 80%;
				}
			}
			&.-f-content04_btn{
				top: 92%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include mq(tb){
					top: 95%;
					width: 40%;
				}
			}

			// LOCATION > 
			&.-pop{
				@include mq(tb){
					top: 0;
					left: 0;
					transform: translate(-50%, -50%);
					width: 20%;
				}
			}
			&.-l-content04_btn{
				top: 95%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include mq(tb){
					top: 90%;
					width: 35%;
				}
			}


			// TOP > 周辺環境 > 3駅
			&.-stationArea{
				top: 55%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tb){
					top: 50%;
				}
			}
			// TOP > 住協チャンネル
			&.-youtubeArea{
				top: 69%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tb){
					top: 65%;
				}
			}

			// 区画・街並み
			&.-onClickImg{
				&_item01{
					position: absolute;
					top: 90%;
					left: 18.9%;
					transform: translate(-50%,-50%);
					
					width: 27%;
					height: 20%;
					@include mq(tb){
						top: 87%;
						left: 26.9%;

						width: 20%;
						height: 25.7%;
					}
				}
				&_item02{
					position: absolute;
					top: 90%;
					left: 50%;
					transform: translate(-50%,-50%);
					
					width: 27%;
					height: 20%;
					@include mq(tb){
						top: 87%;
						left: 50%;
						width: 20%;
						height: 25.7%;
					}
				}
				&_item03{
					position: absolute;
					top: 90%;
					left: 81.2%;
					transform: translate(-50%,-50%);

					width: 27%;
					height: 20%;
					@include mq(tb){
						top: 87%;
						left: 73%;
						width: 20%;
						height: 25.7%;
					}
				}
			}

			// 自由設計
			&.-freeplan-slider{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				@include mq(tb){
					// top: 50%;
					// left: 50%;
					// transform: translate(-50%,-50%);
				}
			}

			// 新築戸建 > タブ
			// &.-tabBox{
			// 	top: 50%;
			// 	left: 50%;
			// 	transform: translate(-50%, -50%);
			// 	width: 100%;
			// }
			&.-tab-sliderArea{
				@include mq(sp){
					// top: 10%;
					top: 5%;
					left: 50%;
					transform: translateX(-50%);
					width: 90%;
				}
				@include mq(tb){
					// top: 10%;
					top: 6%;
					left: 6%;
					width: 45%;
				}
			}
			&.-tab-obi{
				filter: drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.6));

				@include mq(tb){
					top: 0;
					left: 0;
					width: 45%;
				}
			}
			&.-tapMe{
				top: 58%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 25%;
				@include mq(tb){
					top: 90%;
    				left: 74%;
					width: 14%;
				}
			}
			&.-tab-thum-main{
				top: 31.5%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				@include mq(tb){
					top: 53%;
					left: 26%;
					width: 45%;
				}
			}
			&.-tab-thum-ImgBox{
				top: 79%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include mq(tb){
					top: 50%;
					left: 74%;
					width: 45%;
				}
			}
			
			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 0%;
				left: 75%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 0%;
				left: 25%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}


			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


