//お問い合わせエリア
.l-contact--area{
	width: 100%;
	height: auto;
	&.-bg--color{
		position: relative;
		// background-color: $contact-color--bg;
		padding-bottom: 15px;
		@include mq(tb){
			padding-bottom: 30px;
		}
	}
	// コンタクトの要素は、「./layout/_flex.scss」内の
	// 「l-flex--contents」を使用してください。
}


.l-flex--area{
	.l-flex--contents{
		&.-contact{//お問い合わせ
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1170px;
			}
			.flexItem{
				width: 35vw;
				@include mq(tb){
					width: 15vw;
				}
			}
		}
		&.-contact02{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1350px;
			}
			.flexItem{
				width: 32vw;
				margin-bottom: 2vw;
				@include mq(tb){
					width: 12vw;
					margin-bottom: auto;

				}
			}
		}
		&.-contact03{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				// max-width: 1290px;
			}
			.flexItem{
				width: 42vw;
				margin-bottom: 5vw;
				@include mq(tb){
					width: 20vw;
					margin-bottom: auto;
				}
			}
		}
		&.-contact-box{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
			}
			.flexItem{
				width: calc(50%);
				@media screen and (min-width: 768px){
					width: 25%;
				}

				&:nth-child(1){
					.l-linkImg{
						background: $contact-item-1;
					}
				}
				&:nth-child(2){
					.l-linkImg{
						background: $contact-item-2;
					}

				}
				&:nth-child(3){
					.l-linkImg{
						background: $contact-item-3;
					}

				}
				&:nth-child(4){
					.l-linkImg{
						background: $contact-item-4;
					}
				}
			}
		}
		&.-contact-box_okano{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: 100%;
			margin: auto;
			@include mq(tb){
				width: 75%;
				justify-content: space-evenly;
			}
			.flexItem{
				width: calc(30%);
				@include mq(tb){
					width: 30%;
				}
				&:nth-child(1){
					.l-linkImg{
						background: $contact-item-1;
					}
				}
				&:nth-child(2){
					.l-linkImg{
						background: $contact-item-2;
					}

				}
				&:nth-child(3){
					.l-linkImg{
						background: $contact-item-3;
					}

				}
				// &:nth-child(4){
				// 	.l-linkImg{
				// 		background: $contact-item-4;
				// 	}
				// }
			}
		}
		&.-contact-box_okano02{
			display: flex;
			flex-wrap: wrap;
			margin: auto;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-between;
			}
						// タイプ02
						&.-type02{
							justify-content: space-evenly;
							@include mq(tb){
								width: 80%;
								justify-content: space-around;
							}
							@include mq(tb-pc1400){
								width: 90%;
							}
						}
			.flexItem{
				&.-leftBox{
					// background: #c96b9042;
					// background: #c96b90;
					@include mq(sp){
						border-bottom: 1px solid #ffffff;
					}
					@include mq(tb){
						// border-right: 1px solid #707070;
					}
				}
				&.-rightBox{
					// background: rgb(195 29 29 / 28%);
					// background: #c31d1d;
				}
				&.-leftBox,
				&.-rightBox{
					width: calc(100%);
					padding: 10% 5%;
					border-radius: 10px;
					@include mq(tb){
						width: 48.5%;
						padding: 5% 2.5% !important;
						background: #fdfdfd;
						// border: 1px solid #d8d8d8;
						filter: drop-shadow(1px 1px 1px #d8d8d8);

					}
							// バージョン02
							&.-v02{
								width: 47%;
    							padding: 2.5% 0%;
								@include mq(tb){
									width: 39.5%;
									padding: 2% 0.5% !important;
								}
								@include mq(tb-pc1400){
									width: 37.5%;
    								padding: 5% 0.5% !important;
								}
							}
					.c-title_left,
					.c-title_right{
						width: 60%;
						margin: auto;
						@include mq(tb){
							width: 60%;
							// width: 35%;
						}
					}
					&_item01,
					&_item02{
						position: relative;
						width: 48%;
						@include mq(tb){
							width: 45%;
							margin: 0 1%;
						}
						a{
							display: block;
							padding: 0% 4% 4%;
							// padding: 3% 4% 10%;
							background: #ffffff;
							border: 1px solid #707070;
							border-radius: 5px;
							@include mq(tb){
								padding: 3% 4%;
							}
							&::after{
								@include mq(tb){
									content: ">";
									font-size: 12px;
									position: absolute;
									top: 50%;
									right: 4%;
									transform: translateY(-50%);
								}
							}
						}
					}
				}
			}
		}
	}
}